body {
	background-color: var(--body-bg);
}

.post {
	margin: 128px 0;
}

.meta .categories {
	color: var(--link);
	margin-bottom: 6px;
	font-weight: 600;
}

.meta .categories a {
	font-size: 13px;
	margin-right: 6px;
	text-decoration: none;
}

.meta .date {
	color: var(--grey);
	font-weight: 600;
}

.meta .title {
	font-size: 48px;
	line-height: 48px;
	margin-top: 16px;
	margin-bottom: 16px;
}
.meta .byline {
	color: darkgrey;
	font-size: 36px;
	line-height: 36px;
	margin-top: 12px;
}

.content {
	font-size: 0.9rem;
	line-height: 1.4211;
	font-weight: 400;
	letter-spacing: 0.012em;
}

.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.meta .categories,
.meta .date,
.content figure,
/* only `.content>pre`, do not include <pre /> in <figure /> */
.content>pre,
.divider,
.container,
hr,
.meta .title,
.meta .byline,
.toc,
.content blockquote,
.content table,
.content video,
.content ul,
.content ol,
.content > mjx-container,
.content > .katex,
.about {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
}

.content p img,
.content .block-large img {
	border-radius: 10px;
}

.content table,
.content video {
	display: block;
}

.content table {
	padding: 0;
	border-collapse: collapse;
	border-radius: 15px;
	max-width: 800px;
	overflow-x: auto;
}

.content table tr {
	background-color: var(--card-bg);
}

.content table tr:nth-child(even) {
	background-color: transparent;
}

.content table th,
.content table td {
	margin: 0;
	padding: 6px 12px;
}

.content table th {
	border-bottom: 1px solid var(--border-color);
}

.content table thead tr th:first-child {
	border-top-left-radius: 15px;
}

.content table thead tr th:last-child {
	border-top-right-radius: 15px;
}

.content table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 15px;
}

.content table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 15px;
}

@media screen and (max-width: 800px) {
	.content table,
	.content table thead tr th:first-child,
	.content table thead tr th:last-child,
	.content table tbody tr:last-child td:first-child,
	.content table tbody tr:last-child td:last-child {
		border-radius: 0;
	}
}

.content video {
	max-width: 100%;
	padding: 0;
}

.content .highlight,
.content > pre {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--card-bg);
	border-radius: 15px;
	max-width: calc(800px - 16px * 2);
}

@media screen and (max-width: 800px) {
	.content .highlight,
	.content > pre {
		border-radius: 0;
	}
}

.content .highlight * {
	border: none;
}

.content .highlight .gutter {
	padding-right: 16px;
}

.content > pre {
	max-width: calc(800px - 24px * 2);
	padding: 20px 24px;
}

.content > pre > code {
	background-color: transparent;
}

.content ul,
.content ol {
	padding: 0 16px;
	max-width: calc(800px - 16px * 2);
	list-style-position: outside;
}
@media screen and (max-width: 750px) {
	.content ul,
	.content ol {
		list-style-position: inside;
	}
}

.content ul *,
.content ol * {
	padding: 0;
}

.content blockquote {
	max-width: calc(800px - 16px * 2);
	padding: 0 8px;
}

/* for [hexo-math](https://github.com/hexojs/hexo-math): */
.content > mjx-container,
.content > .katex {
	display: block;
	text-align: center;
}

.content .carousel {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.content .carousel-card {
	background: var(--body-bg);
	border: solid 1px rgba(255, 255, 255, 0.15);
	border-radius: 6px;
	display: block;
	margin: 12px 300px;
	min-width: 300px;
	scroll-snap-align: start;
	padding: 24px;
	width: 800px;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tags .icon {
	--size: 14px;
	background-position: center;
	background-size: var(--size) var(--size);
	background-repeat: no-repeat;
	display: block;
	width: var(--size);
	height: var(--size);
	margin-right: 6px;
}

body[data-color-scheme="auto"] .tags .icon {
	background-image: url(/theme-img/tags-dark.svg);
}

@media (prefers-color-scheme: dark) {
	body[data-color-scheme="auto"] .tags .icon {
		background-image: url(/theme-img/tags-light.svg);
	}
}

body[data-color-scheme="dark"] .tags .icon {
	background-image: url(/theme-img/tags-light.svg);
}

.tags .tag {
	font-size: 14px;
	display: block;
	height: 14px;
	margin-right: 4px;
}

.about {
	border-radius: 7px;
	background-color: var(--card-bg);
	max-width: calc(800px - 16px * 2);
	padding: 16px;
	margin: 64px auto;
}

@media screen and (max-width: 800px) {
	.about {
		border-radius: 0;
	}
}

.about h1 {
	margin: 0;
}

.about .details {
	margin: 16px 0;
}

.about .details p {
	margin: 6px 0;
}

.content h1 > .headerlink,
.content h2 > .headerlink,
.content h3 > .headerlink,
.content h4 > .headerlink,
.content h5 > .headerlink,
.content h6 > .headerlink {
	opacity: 0;
	color: var(--grey);
	font-weight: normal;
	position: absolute;
	padding-right: 6px;
	transform: translateX(-100%);
	transition: opacity 0.2s;
}

.content h1:hover > .headerlink,
.content h2:hover > .headerlink,
.content h3:hover > .headerlink,
.content h4:hover > .headerlink,
.content h5:hover > .headerlink,
.content h6:hover > .headerlink {
	opacity: 1;
	text-decoration: none;
}

.content h1 > .headerlink::before,
.content h2 > .headerlink::before,
.content h3 > .headerlink::before,
.content h4 > .headerlink::before,
.content h5 > .headerlink::before,
.content h6 > .headerlink::before {
	content: "#";
}

.content > h1 {
	font-size: 36px;
}

.content > h2 {
	font-size: 30px;
}

.content > h3 {
	font-size: 26px;
}

.content > h4 {
	font-size: 20px;
}

.content > h5 {
	font-size: 16px;
}

.content > h6 {
	font-size: 14px;
}

.post-prev-next {
	display: flex;
	justify-content: space-between;
}

.post-prev-next > a {
	width: 50%;
	color: var(--black-4);
	text-decoration: none;
}

.post-prev-next > a:hover {
	color: var(--black-2);
}

.post-prev-next > a > div {
	display: flex;
}

.post-prev-next .text {
	display: flex;
	flex-direction: column;
}

.post-prev-next .prev > div {
	justify-content: flex-end;
	text-align: right;
}

.post-prev-next .prev .text {
	align-items: flex-end;
}

.post-prev-next .text * {
	margin: 0;
}

.post-prev-next .text .label {
	margin-bottom: 4px;
	color: var(--grey);
}

/* TAKEN FROM POST LIST */
.post-list {
	user-select: none;
	display: grid;
	grid-template-columns: 1fr;
	max-width: 980px;
	margin: auto;
}

.post-list-item {
	/* border: solid 1px rgba(0, 0, 0, 0.06);
  border-radius: 9px;
  background-color: var(--card-bg); */
	display: flex;
	overflow: hidden;
	margin: auto auto 15px auto;
	max-width: 580px;
	transition: all 200ms ease;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.post-list-item {
		border-radius: 0;
		margin: auto;
	}

	.post-list-item:first-child {
		border-radius: 3px 3px 0 0;
	}
	.post-list-item:last-child {
		border-radius: 0 0 3px 3px;
	}
}

.post-list-item .cover-img {
	border-radius: 3px;
	overflow: hidden;
	height: 266px;
	margin-top: 12px;
}

.post-list-item .cover-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(1);
	transition: transform 400ms cubic-bezier(0.4, 0, 0.25, 1),
		filter 400ms cubic-bezier(0.4, 0, 0.25, 1);
}
.post-list-item .cover-img img.draft-card {
	filter: saturate(0);
}

.post-list-item:hover .cover-img img,
.post-list-item > a:focus .cover-img img {
	transform: scale(1.03);
	filter: brightness(0.85);
}
.post-list-item:hover .cover-img img.draft-card,
.post-list-item > a:focus .cover-img img.draft-card {
	transform: scale(1);
	filter: saturate(0);
}

.post-list-item .title {
	color: var(--card-title);
	flex-grow: 1;
	font-size: 16px;
	line-height: 1.16667;
	font-weight: 400;
	letter-spacing: 0.009em;
	margin-bottom: 0;
	max-height: 7em;
	overflow: hidden;
}

.post-list-item .title-permlink {
	border-radius: 9px;
	color: inherit;
	transition: all 300ms ease-in-out;
}
.post-list-item .title-permlink:hover {
	box-shadow: 0 9px 12px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	transition: all 300ms ease-in-out;
}
.title-permlink.draft-card:hover {
	box-shadow: none;
	cursor: wait;
	text-decoration: none;
}
.new-label {
	/* This is where a new post styling will show up */
}

/* .post-list-item .title-permlink:hover .content-body {
  padding: 6px 18px;
  transition: all 300ms ease-in-out;
} */

/* .post-list-item .title-permlink:hover .content-body p {
  left: 0;
  position: relative;
  transition: all 300ms ease-in-out;
}
.post-list-item .title-permlink:hover .content-body p {
  left: -6px;
  position: relative;
  transition: all 300ms ease-in-out;
} */

.post-list-item .content {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 1;
	justify-content: space-between;
	padding: 8px 16px;
	width: 100%;
}

.post-list-item .content-body {
	border: solid 1px rgba(0, 0, 0, 0.06);
	border-radius: 9px;
	background-color: var(--card-bg);
	box-shadow: 0 6px 24px rgba(0, 0, 0, 0.015), 0 1px 1px rgba(0, 0, 0, 0.12);
	font-size: 14px;
	line-height: 21px;
	padding: 0 12px;
}
.content-body.draft-card {
	background-color: transparent;
	box-shadow: none;
	color: darkgrey;
}
.content-body.draft-card p.title {
	color: darkgrey;
}
.content-body img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 360px;
	max-width: 100%;
	overflow-y: hidden;
}

/* .post-list-item a,
.post-list-item a:hover,
.post-list-item a:focus,
.post-list-item a:active,
.post-list-item a:link,
.post-list-item a:visited {
  font-weight: bold;
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
} */

.post-list-item .categories {
	color: var(--link);
	cursor: default;
	margin-bottom: 6px;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;
}
.post-list-item .categories span {
	color: transparent;
	font-size: 10px;
	margin-right: 6px;
	text-decoration: none;
	text-shadow: 0 1px 0 lightslategrey;
}
.categories.text-uppercase.draft-card {
	opacity: 60%;
}
@media screen and {
	.post-list-item .categories span {
		font-size: 10px;
	}
}

.post-list-item .excerpt {
	color: var(--black-1);
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

@media screen and {
	.post-list-item .content {
		font-size: 12px;
	}
}

.post-list-item .post-footer {
	color: var(--card-time);
	display: flex;
	flex-direction: row;
	flex-basis: max-content;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: -0.016em;
	padding-top: 6px;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}

.post-list-item .time {
	flex-grow: 1;
	margin-right: 0;
	text-align: right;
}

.post-list-item .read-more {
	font-size: 12px;
	outline: none;
	border: none;
	background-color: var(--blue);
	color: var(--white-txt-on-blue-bg);
	padding: 6px 12px;
	border-radius: 32px;
	cursor: pointer;
	margin-bottom: 12px;
}
.read-more.draft-button {
	background: lightgrey;
	color: black;
	opacity: 30%;
}

/* in archive page, use a more compact list view */

.post-list.archives {
	display: block;
	max-width: 980px;
	margin: auto;
}

.post-list.archives .post-list-item {
	border-radius: 0;
	background-color: initial;
	padding: 21px 0;
	margin: 0;
	border-bottom: 1px solid var(--border-color);
	transition: all 200ms ease;
}

.post-list.archives .post-list-item:nth-child(n) {
	margin-left: 0;
	margin-right: 0;
}

.post-list.archives .post-list-item:last-child {
	border-bottom: none;
}

.post-list.archives .post-list-item a {
	display: flex;
}

.post-list.archives .post-list-item .cover-img {
	height: initial;
	min-width: 180px;
	width: 20vw;
	border-radius: 9px;
	flex-shrink: 0;
}
