body {
	margin: 0;
	overflow: hidden;
}

/*
Container structures
 */
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
}

h1 {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif,
		Apple Color Emoji;
	font-size: 12vh;
	font-weight: 600;
	letter-spacing: -0.25rem;
	line-height: 90%;
	margin: auto;
	position: relative;
	right: 16px;
	text-align: center;
}

h1.fourOhFour-text {
	background-image: url("../video/next_1mb.mp4");
	background-position: 100% 20%;
	background-size: cover;
	color: #000;
	font-size: 50vmin;
	font-weight: 900;
	letter-spacing: -30px;
	text-align: center;
	width: 100%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-box-decoration-break: clone;
}

/* Light mode */
@media screen and (prefers-color-scheme: light) {
	body {
		background: #fff;
		color: #000;
		transition: background 3s, color 1s;
	}
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
	body {
		background: #000;
		color: #fff;
	}
}
