* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@keyframes eye-sex {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-moz-keyframes eye-sex {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-webkit-keyframes eye-sex {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes chatty-skull {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes chatty-skull {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes chatty-skull {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes chatty-skull-bubble {
  0% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    bottom: 8%;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
}
@-moz-keyframes chatty-skull-bubble {
  0% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    bottom: 8%;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
}
@-webkit-keyframes chatty-skull-bubble {
  0% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    bottom: 8%;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    bottom: 2%;
    transform: scale(0);
  }
}

body {
  background: #fff;
  margin: 0;
}

/*
Container structures
 */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 100vw;
}

.cubeRow {
  display: flex;
  flex-direction: row;
}
.cubeRow a {
  text-decoration: none;
}

.cube {
  align-items: center;
  background: white;
  border-radius: 3px;
  color: black;
  display: flex;
  font-family: ui-sans-serif;
  font-size: 2rem;
  font-weight: bold;
  height: calc(100vh / 10);
  justify-content: center;
  line-break: anywhere;
  line-height: normal;
  margin: 0;
  overflow-wrap: break-word;
  padding: 8px;
  text-align: center;
  text-overflow: ellipsis;
  transition: all ease-in-out 3000ms;
  white-space: break-spaces;
  width: calc(100vw / 10);
  z-index: 000;
}
.cube:hover {
  background: rgba(0, 0, 0, 0.03);
  transition: all ease-in-out 500ms;
  z-index: 999;
}
.cube.letter {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.cube.letter:hover {
  background: white;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  transition: all ease-in-out 300ms;
}
.cube.link {
  line-height: normal;
  position: relative;
}
.cube.link:hover {
  color: white;
}
.cube.link > span {
  bottom: 6px;
  color: transparent;
  font-size: 10px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  transition: all ease-in-out 300ms;
}
.cube.link:hover > span {
  color: rgba(0, 0, 0, 0.6);
}

p.headline {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif,
    Apple Color Emoji;
  font-kerning: normal;
  font-size: 20vmin;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 80%;
  margin: auto;
  max-width: 1200px;
  text-align: center;
}
.big-text {
  background-image: url("/media/next_1mb.mp4");
  background-position: 100% 20%;
  background-size: cover;
  color: transparent;
  display: inline-block;
  font-weight: 900;
  line-height: 120%;
  margin: auto -12px -36px -12px;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  user-select: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}
/* Firefox */
@-moz-document url-prefix() {
  .big-text {
    background-image: url("/media/next_1mb.gif");
  }
}
/* Chrome */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  .big-text {
    background-image: url("/media/next_1mb.gif");
  }
} */
/* Safari */
_::-webkit-full-page-media,
_:future,
:root .safari_only {
  .big-text {
    background-image: url("/media/next_1mb.mp4");
  }
}

.links {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif,
    Apple Color Emoji;
  font-weight: 600;
  list-style: none;
  margin-bottom: 3rem;
  padding: 0;
}
.links li {
  font-size: 24px;
  margin-bottom: 8px;
}
.links li a {
  border-bottom: 3px solid;
  font-size: 32px;
  text-decoration: none;
  transition: border-bottom-color 1s, color 300ms;
}
#portfolio-li {
  display: flex;
  flex-direction: column;
}
#portfolio-span {
  font-size: 10px;
  color: white;
  font-weight: 400;
  margin-top: -3px;
  width: 100%;
  background: black;
  padding: 3px 0;
  border-radius: 0 0 4px 4px;
}
/* Color-scheme agnostic styling */
.links li a:hover {
  border-bottom-color: grey;
  color: grey;
}

.skully-button {
  background: none;
  border: none;
}
#skully {
  bottom: 3%;
  height: 48px;
  left: 50%;
  position: absolute;
  width: auto;
}
#chatty {
  bottom: 1%;
  color: transparent;
  height: 24px;
  left: 52%;
  opacity: 0;
  position: absolute;
  text-shadow: 0 0 0 #fff;
  width: auto;
}
#chatty-2 {
  bottom: 1%;
  color: transparent;
  height: 24px;
  left: 49.5%;
  opacity: 0;
  position: absolute;
  text-shadow: 0 0 0 #fff;
  transform: scale(-1, 1);
  width: auto;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
}

.skully-button:hover > #skully {
  animation: 1s chatty-skull ease infinite;
}
.skully-button:hover > #chatty {
  animation: 4s chatty-skull-bubble ease infinite;
}
.skully-button:hover > #chatty-2 {
  animation: 5s chatty-skull-bubble ease infinite;
  animation-delay: 4s;
}

/* Light mode */
@media screen and (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }

  .links li a {
    border-bottom-color: #000;
    color: #000;
  }
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }

  .cube {
    background: black;
    color: white;
    fill: white;
  }
  .cube:hover {
    background: rgba(255, 255, 255, 0.03);
  }
  .cube.letter {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  }
  .cube.letter:hover {
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
    transition: all ease-in-out 300ms;
  }
  .cube.link {
    color: white;
  }
  .cube.link:hover {
    color: white;
  }
  .cube.link:hover > span {
    color: rgba(255, 255, 255, 0.6);
  }

  .links li a {
    border-bottom-color: #fff;
    color: #fff;
  }
}
