* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

/* /* For when no touch controls are available */
@media screen not and (touch: touch) {
	.cube.link > span {
		color: rgba(0, 0, 0, 0.6);
	}
	.cube.link:hover > span {
	}
}

body {
	background: #fff;
	margin: 0;
}

/*
Container structures
 */
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: center;
	margin: auto;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.row {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 1vw;
}
.row a {
	text-decoration: none;
	margin-left: 3px;
	margin-right: 3px;
}

.cube {
	align-items: center;
	background: transparent;
	border-radius: 3px;
	border: solid 1px rgba(0, 0, 0, 0.12);
	color: black;
	display: flex;
	font-family: ui-sans-serif;
	font-size: 2rem;
	font-weight: bold;
	height: fit-content;
	justify-content: center;
	line-break: anywhere;
	line-height: normal;
	max-width: 64px;
	min-height: 64px;
	min-width: 64px;
	overflow-wrap: break-word;
	padding: 0 6px 6px 6px;
	text-align: center;
	text-overflow: ellipsis;
	transition: all ease-in-out 2000ms, font-size 0ms, font-weight 0ms,
		font-family 0ms;
	white-space: break-spaces;
	width: calc(100vw / 10);
	z-index: 000;
}
.cube:hover {
	background: white;
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
	transition: all ease-in-out 200ms;
	z-index: 999;
}
.cube.link {
	line-height: normal;
	position: relative;
}
.cube.link:hover {
	background: black;
	color: white;
	fill: white;
}
.cube.link > span {
	bottom: 6px;
	color: black;
	font-size: 10px;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	transition: all ease-in-out 300ms;
}
.cube.link:hover > span {
	color: white;
}

/* Light mode */
@media screen and (prefers-color-scheme: light) {
	body {
		background: #fff;
		color: #000;
	}

	.links li a {
		border-bottom-color: #000;
		color: #000;
	}
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
	body {
		background: #000;
		color: #fff;
	}
	.cube {
		background: black;
		color: white;
		fill: white;
	}
	.cube:hover {
		background: rgba(255, 255, 255, 0.03);
	}
	.cube.letter {
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
	}
	.cube.letter:hover {
		background: rgba(255, 255, 255, 0.12);
		box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
		transition: all ease-in-out 300ms;
	}
	.cube.link {
		color: white;
	}
	.cube.link:hover {
		background: rgba(255, 255, 255, 0.06);
		color: white;
	}
	.cube.link:hover > span {
		color: rgba(255, 255, 255, 0.6);
	}
}
