nav {
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--border-color);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 24px;
	z-index: 1000;
	-webkit-backdrop-filter: var(--blur);
	backdrop-filter: var(--blur);
	transition: height 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	width: 100%;
}
@media (prefers-color-scheme: dark) {
	nav {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

nav > .nav-content-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 980px;
}

nav > .nav-content-container > .breadcrumbs {
	align-items: baseline;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	height: 48px;
}

nav > .nav-content-container > .breadcrumbs > .nav-spacer {
	color: rgba(0, 0, 0, 0.3);
	margin: auto 9px auto 3px;
}
@media (prefers-color-scheme: dark) {
	nav > .nav-content-container > .breadcrumbs > .nav-spacer {
		color: rgba(255, 255, 255, 0.3);
	}
}

nav > .nav-content-container > .breadcrumbs > a {
	margin: auto 9px;
}

nav > .nav-content-container > .breadcrumbs > a h2 {
	border-radius: 3px;
	color: var(--black);
	display: flex;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.125;
	letter-spacing: 0.004em;
	padding: 3px;
	position: sticky;
	text-align: center;
	text-transform: uppercase;
	top: 6px;
	width: fit-content;
	z-index: 9999;
}
@media (prefers-color-scheme: dark) {
	nav > .nav-content-container > .breadcrumbs > a h2 {
		color: white;
	}
}

nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
	color: rgba(0, 0, 0, 0.6);
}
@media (prefers-color-scheme: dark) {
	nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
		color: rgba(255, 255, 255, 0.6);
	}
}

nav > .nav-content-container > .breadcrumbs > a > .section-title.active {
	font-weight: bold;
}

nav > * > .inner {
	display: inline-flex;
	flex-direction: row;
	max-width: 980px;
	margin: auto;
	padding: 0 16px;
}

nav > * > * {
	display: inline-block;
}

nav a,
nav a:hover,
nav a:focus,
nav a:active,
nav a:link,
nav a:visited {
	color: var(--black-4);
}

nav .nav-title h1 {
	font-size: 1.75rem;
	font-weight: 100;
	font-family: serif;
	color: var(--black) !important;
	text-align: center;
}
nav a.title .subhead {
	font-size: 0.3rem;
	font-weight: normal;
	margin-top: -20px;
	color: var(--black-2) !important;
}

nav .nav-arrow {
	display: none;
}

nav .nav-items {
	/* disabled for now */
	display: none;
	float: right;
	text-align: right;
}

nav .nav-item {
	display: inline-block;
	text-align: center;
	flex: 1;
	font-size: 16px;
	height: 48px;
	line-height: 48px;
	padding: 0 16px;
	transition: padding 0.2s, color 0.5s;
}

nav .nav-item:hover,
nav .nav-item:focus {
	color: var(--black-2);
}

@media screen and (max-width: 600px) {
	nav .nav-item {
		padding: 0 8px;
	}
}

@media screen and (max-width: 400px) {
	nav .nav-item {
		padding: 0 4px;
	}
}

nav .nav-item-home {
	display: none;
}

nav .nav-item-icon {
	width: 32px;
	height: 48px;
	background-position: center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	padding: 0;
}

nav .nav-item-search {
	background-size: 16px 16px;
}

@media screen and (max-width: 600px) {
	nav {
		height: 48px;
		overflow: hidden;
	}
	nav .title {
		pointer-events: none;
		display: inline-block;
		transition: all 0.2s;
		transition-delay: 0.6s;
	}
	nav .nav-arrow {
		display: inline-block;
		margin-top: 8px;
		width: 40px;
		height: 30px;
		float: right;
	}
	nav .nav-arrow::before,
	nav .nav-arrow::after {
		content: "";
		background-color: var(--nav-arrow);
		display: block;
		position: absolute;
		top: 28px;
		width: 12px;
		height: 1px;
		transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
			transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1),
			top 1s cubic-bezier(0.86, 0, 0.07, 1);
	}
	nav .nav-arrow::before {
		transform-origin: 100% 100%;
		transform: rotate(40deg) scaleY(1.5);
		right: 50%;
	}
	nav .nav-arrow::after {
		transform-origin: 0% 100%;
		transform: rotate(-40deg) scaleY(1.5);
		left: 50%;
	}
	nav .nav-items {
		width: 100%;
		float: none;
		opacity: 0;
		transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
		transform: translate(0, -20%);
	}
	nav .nav-item {
		pointer-events: none;
		display: block;
		text-align: left;
	}
	nav .nav-item-icon {
		float: left;
		display: inline-block;
	}
	nav.open .title {
		transform: translate(0, 8px);
		opacity: 0;
		transition-delay: 0s;
	}
	nav.open .nav-arrow::before,
	nav.open .nav-arrow::after {
		top: 16px;
	}
	nav.open .nav-arrow::before {
		transform-origin: 100% 0%;
		transform: rotate(-40deg) scaleY(1.5);
	}
	nav.open .nav-arrow::after {
		transform-origin: 0% 0%;
		transform: rotate(40deg) scaleY(1.5);
	}
	nav.open .nav-item {
		pointer-events: initial;
	}
	nav.open .nav-items {
		transform: translate(0, -0%);
		opacity: 1;
	}
}

nav .color-scheme-toggle {
	display: flex;
	border-radius: 16px;
	border: 1px solid var(--blue);
	padding-bottom: 1px;
	margin-top: 16px;
}

nav .color-scheme-toggle label {
	cursor: pointer;
	margin: 1px;
}

nav .color-scheme-toggle label input {
	position: absolute;
	appearance: none;
	width: 0px;
	height: 0px;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0 0 99.9% 99.9%);
	clip-path: inset(0 0 99.9% 99.9%);
}

nav .color-scheme-toggle label span {
	font-size: 14px;
	line-height: 14px;
	padding: 2px 4px;
	border-radius: 12px;
	color: var(--link);
	width: 40px;
	display: inline-block;
	text-align: center;
}

nav .color-scheme-toggle label input:checked + span {
	color: var(--white-txt-on-blue-bg);
	background-color: var(--blue);
}
