nav {
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--border-color);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 24px;
	z-index: 1000;
	-webkit-backdrop-filter: var(--blur);
	backdrop-filter: var(--blur);
	transition: height 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	width: 100%;
}
@media (prefers-color-scheme: dark) {
	nav {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

nav > .nav-content-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 980px;
}

nav > .nav-content-container > .breadcrumbs {
	align-items: baseline;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	height: 48px;
}

nav > .nav-content-container > .breadcrumbs > .nav-spacer {
	color: rgba(0, 0, 0, 0.3);
	margin: auto 9px auto 3px;
}
@media (prefers-color-scheme: dark) {
	nav > .nav-content-container > .breadcrumbs > .nav-spacer {
		color: rgba(255, 255, 255, 0.3);
	}
}

nav > .nav-content-container > .breadcrumbs > a {
	margin: auto 9px;
}

nav > .nav-content-container > .breadcrumbs > a h2 {
	border-radius: 3px;
	color: var(--black);
	display: flex;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.125;
	letter-spacing: 0.004em;
	padding: 3px;
	position: sticky;
	text-align: center;
	text-transform: uppercase;
	top: 6px;
	width: fit-content;
	z-index: 9999;
}
@media (prefers-color-scheme: dark) {
	nav > .nav-content-container > .breadcrumbs > a h2 {
		color: white;
	}
}

nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
	color: rgba(0, 0, 0, 0.6);
}
@media (prefers-color-scheme: dark) {
	nav > .nav-content-container > .breadcrumbs > a > .nav-home-page {
		color: rgba(255, 255, 255, 0.6);
	}
}

nav > .nav-content-container > .breadcrumbs > a > .section-title.active {
	font-weight: bold;
}

nav a,
nav a:hover,
nav a:focus,
nav a:active,
nav a:link,
nav a:visited {
	color: var(--black-4);
}
