body {
  background: linear-gradient(#000 to #fff);
  font-family: ui-serif, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif, Apple Color Emoji;
}

.viewHeightBox {
  border-bottom: solid 1px red;
  display: block;
  height: calc(100vh);
  position: relative;
  width: 100%;
}

.topSection {
  background-image: url("https://images.unsplash.com/photo-1584382179644-9c11f8e6ee0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  color: white;
  height: 100vh;
  position: relative;
}

section .plaque {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif,
    Apple Color Emoji;
  height: 500px;
  width: 500px;
}

section .plaque h1 {
  font-size: 10rem;
  line-height: 7.6rem;
  text-align: left;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

section {
  display: flex;
  margin-bottom: 64px;
}

section p {
  font-size: 1rem;
  height: 100%;
  line-height: 1.5rem;
  margin: auto auto;
  max-width: 500px;
  text-align: left;
}
