<div class="sidebar-module sidebar-module-inset">
  <a href="/blog"><h3>Thomas Walichiewicz</h3></a>
  <aside class="sidebar-module-about-aside">Some guy.</aside>
  <!-- <%- theme.about_widget_content %> -->
</div>
