<% if (site.posts.length){ %>
  <ul class="sidebar-module sidebar-module-link-list">
    <li>
      <a class="sidebar-link" href="/blog/archives">Archive</a>
    </li>
    <li>
      <a class="sidebar-link" href="https://www.linkedin.com/in/twalichiewicz/">LinkedIn</a>
    </li>
    <li>
      <a class="sidebar-link" href="/blog/archives">Email</a>
    </li>
  </ul>
<% } %>
