<footer>
	<div class="inner">
		<span
			>Designed, written, and coded by <%= config.author || config.title %> in
			California<br />&copy; <%= date(new Date(), 'YYYY') %></span
		>
	</div>
</footer>
